
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Security assessments graphs</title>

    <style>
        .column {
        float: left;
        width: 50%;
        padding: 10px;
        }

    </style>

    </head>
  </head>
  <body>
    <p><a href="{% url 'logout' %}">Logout</a></p>
    <h1>Security assessments graphs</h1>

    <div class="row">
        <div class="column" style="background-color:#aaa;">
            <div class="border" id="graph0" style="min-width: 30px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="column" style="background-color:#bbb;">
            <div class="border" id="graph1" style="min-width: 30px; height: 400px; margin: 0 auto"></div>      
        </div>
    </div>
      
    <div class="row">
        <div class="column" style="background-color:#ccc;">
            <div class="border" id="graph2" style="min-width: 30px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="column" style="background-color:#ddd;">
            <div class="border" id="graph3" style="min-width: 30px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>

    <div class="row">
        <div class="column" style="background-color:#ccc;">
            <div class="border" id="graph4" style="min-width: 30px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="column" style="background-color:#ddd;">
            <div class="border" id="graph5" style="min-width: 30px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>

        
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Chartjs libraries -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script>
        var i=0;
        {% for g in graphs %}
            console.log(i);
            _categories = {{ g.categories|safe}};
            _values = {{ g.values|safe}};
            graph_name = "{{ g.name|safe }}";
            names_y = "{{ g.name_y|safe }}";
            series_name = "{{ g.series_name|safe }}";
            
            Highcharts.chart("graph"+i, {
            chart: {
                    type: 'column'
            },
            title: {
                    text: graph_name
            },
            subtitle: {
                    text: 'Automated made Graph'
            },
            xAxis: {
                    categories:_categories,
                    crosshair: true
            },
            yAxis: {
                    min: 0,
                    title: {
                        text: names_y
                    }
            },
            tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
            },
            plotOptions: {
                    column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
            },
            series: [{
                    name: series_name,
                    data: _values
                
            }]
            });

        i=i+1;

        {% endfor %}

        </script>

  </body>
</html>